@charset "UTF-8";


/* ファイル情報
----------------------------------------------------------------
【内容】
全作品共通の基本スタイル（論理方向指定・組み方向の入れ子対策用）

【CSSファイルバージョン】
ver.1.3.1

【当ファイル更新時の電書協EPUB 3 制作ガイドバージョン】
ver.1.1.3

【細目】
・【組み方向の入れ子対策】リンク指定
・【組み方向の入れ子対策】外字画像
・【組み方向の入れ子対策】画像のページフィット指定
・【組み方向の入れ子対策】小書き文字
・【組み方向の入れ子対策】区切り線
・【組み方向の入れ子対策】傍線
・【論理方向指定】罫線
・【組み方向の入れ子対策】突き出しインデント（ぶら下がりインデント）
・【組み方向の入れ子対策】字下げ・字上げ指定
・【論理方向指定】外側の余白（マージン）指定
・【論理方向指定】内側の余白（パディング）指定
・【論理方向指定】行長方向のサイズ
・【論理方向指定】行長方向の最大サイズ
・【論理方向指定】行幅方向のサイズ
・【論理方向指定】行幅方向の最大サイズ

【更新履歴】
2014/08/25 ver.1.3.1
・「線位置【二重線】」を修正

2012/12/07 ver.1.3.0
・ファイル更新時の電書協EPUB 3 制作ガイドバージョン表記を追加

2012/10/29 ver.1.2b1
・「傍線」を修正

2012/10/03 ver.1.1b1
・「傍線」を修正

2012/08/21 ver.1.0b1
・公開版
---------------------------------------------------------------- */


/* 【組み方向の入れ子対策】リンク指定
---------------------------------------------------------------- */
/* 横組み：下線　縦組み：右線 */




/* 【組み方向の入れ子対策】外字画像
---------------------------------------------------------------- */
/* 外字画像のベースライン */



/* 【組み方向の入れ子対策】画像のページフィット指定
---------------------------------------------------------------- */
/* 画像のベースライン */



/* 【組み方向の入れ子対策】小書き文字
---------------------------------------------------------------- */
/* 【横組み】左下 */

/* 【縦組み】右上 */


/* 【組み方向の入れ子対策】区切り線
---------------------------------------------------------------- */
/* 【横組み】水平線 */

/* 【縦組み】垂直線 */



/* 【組み方向の入れ子対策】傍線
---------------------------------------------------------------- */
/* 【横組み】下線　【縦組み】右線 */



/* 【論理方向指定】罫線
---------------------------------------------------------------- */
/* 線種【実線】 */
.k-solid-start,
.k-solid-before,
.k-solid-end,
.k-solid-after,
.k-solid-startend,
.k-solid-beforeafter {
  border-width: 1px;
  border-color: #000000;
}
/* 線位置【実線】 */
/* 横組み用 */

/* 縦組み用 */

/* 線種【点線】 */
.k-dotted-start,
.k-dotted-before,
.k-dotted-end,
.k-dotted-after,
.k-dotted-startend,
.k-dotted-beforeafter {
  border-width: 2px;
  border-color: #000000;
}
/* 線位置【点線】 */
/* 横組み用 */

/* 縦組み用 */

/* 線種【二重線】 */
.k-double-start,
.k-double-before,
.k-double-end,
.k-double-after,
.k-double-startend,
.k-double-beforeafter {
  border-width: 4px;
  border-color: #000000;
}
/* 線位置【二重線】*/
/* 横組み用 */

/* 縦組み用 */

/* 線種【破線】 */
.k-dashed-start,
.k-dashed-before,
.k-dashed-end,
.k-dashed-after,
.k-dashed-startend,
.k-dashed-beforeafter {
  border-width: 1px;
  border-color: #000000;
}
/* 線位置【破線】 */
/* 横組み用 */
/* 縦組み用 */

/* 線幅 */
.k-0px    { border-width: 0;      }
.k-1px    { border-width: 1px;    }
.k-2px    { border-width: 2px;    }
.k-3px    { border-width: 3px;    }
.k-4px    { border-width: 4px;    }
.k-5px    { border-width: 5px;    }
.k-6px    { border-width: 6px;    }
.k-7px    { border-width: 7px;    }
.k-8px    { border-width: 8px;    }
.k-thin   { border-width: thin;   }
.k-medium { border-width: medium; }
.k-thick  { border-width: thick;  }

/* １Ｃ用の線色 */
.k-black       { border-color: #000000; }
.k-dimgray     { border-color: #696969; }
.k-gray        { border-color: #808080; }
.k-darkgray    { border-color: #a9a9a9; }
.k-silver      { border-color: #c0c0c0; }
.k-gainsboro   { border-color: #dcdcdc; }
.k-white       { border-color: #ffffff; }

/* 基本色 */
.k-red         { border-color: #ff0000; }
.k-blue        { border-color: #0000ff; }
.k-cyan        { border-color: #00ffff; }
.k-magenta     { border-color: #ff00ff; }
.k-orangered   { border-color: #ff4500; }


/* 【組み方向の入れ子対策】突き出しインデント（ぶら下がりインデント）
---------------------------------------------------------------- */

/* 【論理方向指定】行長方向のサイズ
----------------------------------------------------------------
行長方向と行幅方向のサイズ指定は、固定値、最大値とも
同じ要素内では同時に利用できないので注意

※以下のように入れ子で対応は可能

<div class="measure-10em">
<div class="extent-5em25">
<p>内容</p>
</div>
</div>
---------------------------------------------------------------- */
.measure-auto { height: auto; width: auto; }

/* ％指定 */
/* 横組み用 */
/* 縦組み用 */
/* 【論理方向指定】行長方向の最大サイズ
---------------------------------------------------------------- */
.max-measure-none { max-height: none; max-width: none; }

/* ％指定 */
/* 横組み用 */
/* 縦組み用 */
/* 【論理方向指定】行幅方向のサイズ
---------------------------------------------------------------- */
.extent-auto { height: auto; width: auto; }

/* ％指定 */
/* 横組み用 */
/* 縦組み用 */


/* 【論理方向指定】行幅方向の最大サイズ
---------------------------------------------------------------- */
.max-extent-none { max-height: none; max-width: none; }

/* ％指定 */
/* 横組み用 */
/* 縦組み用 */
